/* This file is for your main application CSS */
@import './phoenix.css';

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: auto;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* Tetris styles */
.tetris-hero {
  width: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 96vh;
  padding: 1vh;
  margin: 1vh;
}

.tetris-game {
  display: flex;
  justify-content: space-evenly;
}

.tetris-board {
  position: relative;
}

.tetris-info {
  position: absolute;
  right: 40px;
  width: 130px;
  font-family: monospace;
}

.tetris-heading {
  font-size: 24px;
  font-weight: bold;
}

.tetris-score {
  height: 65px;
  font-size: 16px;
}

.tetris-level,
.tetris-level-form {
  display: inline;
}

.tetris-level-select-disabled {
  display: none;
}

.tetris-level-select,
.tetris-level-select:active,
.tetris-level-select:focus,
.tetris-level-select:hover {
  border: 1px solid transparent;
  color: transparent;
  padding: 7px;
  margin: -10px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="black" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

.tetris-level-select > option {
  color: black;
}

.tetris-highscore {
  height: 156px;
}

.tetris-th,
.tetris-td {
  padding: 0 5px;
  font-size: 16px;
  text-align: center;
}

.tetris-td {
  text-align: center;
}

.tetris-th {
  border-bottom: solid 1px grey;
}

.tetris-actions {
  margin-top: 40px;
}

.tetris-pause,
.tetris-restart {
  font-size: 16px;
  cursor: pointer;
}

.tetris-pause:hover,
.tetris-restart:hover {
  text-decoration: underline;
}

.tetris-overlay {
  height: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: monospace;
}

.tetris-game-over-heading,
.tetris-pause-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 12px;
}

.tetris-play-button,
.tetris-pause-button {
}

.not-found {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 25px);
  width: 200px;
  height: 50px;
  font-family: monospace;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .tetris-hero {
    width: 550px;
    align-items: baseline;
  }
  .tetris-game {
    padding: 40px;
  }
}
